form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

input:invalid,
select:invalid {
  border: 3px solid red;
}

input:valid,
select:valid {
  border: 3px solid green;
}

input:focus:invalid,
input:focus:valid {
  border: none;
}

#submit {
  max-width: 200px;
  padding: .5rem 0;
  border: 1px solid black;
}

.message {
  font-size: 4rem;
}